form {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		@extend %heading-base;
		font-size: ms(-2);
		letter-spacing: ms(-10);
		color: $color__text-button;
		text-shadow: 0 0 0 transparent;

		border-style: solid;
		border-width: 1px 1px 3px;
		border-color: $color__border-button;
		border-radius: 3px;
		background: $color__background-button;
		
		padding: ms(-1) ms(1);

		@include transition(all 0.2s ease-in-out);
		
		&:hover {
			background: $color__background-button-hover;
			border-color: $color__border-button-hover;
			color: $color__text-button-hover;
			text-shadow: 0 1px 1px $color__textshadow-button-hover;
			@include transition(all 0.15s ease-in-out);
		}

		&:active {
			background: $color__background-button-focus;
			border-color: $color__border-button-focus;
			border-width: 3px 1px 1px;
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 1px 4px $color__outilne-button-focus;
			@include transition(all 0.15s ease-in-out);
		}
	}
}