input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    box-sizing: border-box;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	@include transition(all 0.5s ease-in-out);
	&:focus {
		color: $color__text-input-focus;
        outline: none;
        box-shadow: 0 0 1px 4px $color__outilne-field-focus;
        @include transition(all 0.15s ease-in-out);
	}

    .sidebar & {  //inputs in the sidebar
        &:focus {
            box-shadow: 0 0 1px 4px rgba($color__outilne-field-focus,.3);
        }
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: ms(-6) ms(-4);
}

textarea {
	padding: ms(-6) ms(-4);
	width: 100%;
}