.post-password-form {
	background: $color__background-pre;
	padding: ms(6) ms(4);
	p {
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
	}
	p:first-child {
		@include text-format(note);
		text-transform: none;
	}
	label {
		@include text-format(heading-small);
		font-size: ms(-2);
		color: $color__text-softer;
	}
	input[type="password"] {
		display: block;
		margin-bottom: ms(-2);
		width: 100%;
	}
	input[type="submit"] {
		display: block;
	}
}