.wp-caption {
	margin-bottom: ms(0);
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: ms(-4) 0;
	}
}

.wp-caption-text {
	@include text-format(note);
    text-transform: none;

	text-align: center;
}