.site {
    position: relative;
    width: 100vw;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Header Feature Image
--------------------------------------------------------------*/
@import "header/feature-image";

.content-area {
    padding: 0 ms(0);
    margin: 0 auto;
    max-width: ms(18);
    @include respondTo(atleast-extra-wide) {
        font-size: ms(1);
        &.sidebar-toggled {
            font-size: ms(0);
        }
    }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404/404";