%heading-base {
    font-family: $font__headings;
    font-size: ms(0);
    clear: both;
    text-transform: uppercase;
    line-height: 1;
    color: $color__headings;
    @include respondTo(upto-narrow) {
        word-wrap: break-word;
    }
    @include respondTo(atleast-ultra-wide) {
        font-size: ms(2);
    }
}

// Implementations

h1, h2, h3, h4, h5, h6 {
    @extend %heading-base;
    @include respondTo(upto-narrow) {
        word-wrap: break-word;
    }
}

.site-main {
    h1 {
        font-size: ms(5);
        @include respondTo(upto-narrow) {
            font-size: ms(3);
        }
    }
    h2 {
        font-size: ms(4);
        @include respondTo(upto-narrow) {
            font-size: ms(2);
        }
    }
    h3 {
        font-size: ms(2);
        letter-spacing: ms(-15);
        @include respondTo(upto-narrow) {
            font-size: ms(1);
        }
    }
    h4 {
        font-size: ms(0);
        letter-spacing: ms(-12);
    }

    h5 {
        font-size: ms(-1);
        letter-spacing: ms(-12);
    }

    h6 {
        font-size: ms(-2);
        letter-spacing: ms(-10);
    }

    .sidebar-toggled & {
        @include respondTo(upto-wide) {
            h1 {
                font-size: ms(4);
            }
            h2 { 
                font-size: ms(3);
            }
        }
    }
}

.sidebar {
    h2 {
        color: $color__text-sidebar;
    }
}
