// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


// Breakpoints for each query
$smartphone: 480px;
$tablet: 800px;
$desktop: 1100px;
@mixin respondTo($media) {
  @if $media == upto-small {
    @media (max-width: $smartphone) { @content; }
  }
  @if $media == upto-medium {
    @media (max-width: $tablet) { @content; }
  }
  @else if $media == atleast-medium {
    @media (min-width: $tablet) { @content; }
  }
  @else if $media == atleast-large {
    @media (min-width: $desktop) { @content; }
  }
}
