.site-footer {
    border-top: 4px solid $color__base05;
    padding: ms(0) 0 ms(1);
    margin: ms(4) ms(0) 0;
    color: $color__base20;
    .site-info {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-size: ms(-3);
            letter-spacing: ms(-15);
            margin: 0 ms(-2);
        }
    }
    a {
        display: inline-block;
        color: $color__footerlink;
        text-decoration: none;
        &:hover {
            color: $color__footerlink-hover;
        }            
    }
}