html {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	overflow-x: hidden;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
	@include transition(all 0.2s ease-in-out);
}

::selection {/* WebKit/Blink Browsers */
	background: $color__accent-tint10; 
	color: $color__accent-tint90;
	text-shadow: 0 1px 1px $color__accent-shade20;
}
::-moz-selection { /* Gecko Browsers */
	background: $color__accent-tint10;
	color: $color__accent-tint90;
	text-shadow: 0 1px 1px $color__accent-shade20;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 4px;
	margin-bottom: ms(0);
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";