@include keyframes(header-image-pulse) {
  0%, 100% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.1));
  }
}

.site-header-image {
    position: relative;
    overflow: hidden;
    background: $color__background-feature;
    line-height: 0;

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        opacity: 0.6;
        @include animation(header-image-pulse 20.0s ease-in-out infinite);
        @include transform-origin(bottom center);
    }

    .featured-image &,
    .header-image & {
        max-height: 80vh;
        min-height: 100px;
        @include respondTo(upto-small) {
            height: 70vh;
            img {
                margin-left: -40%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                max-height: 70vh;
                max-width: 1000%;
            }
        }
    }
}