.site-header-image {
    @include animation(fadein 2s ease-out backwards);
    position: relative;
    overflow: hidden;
    background: $color__background-feature;
    line-height: 0;

    margin-bottom: ms(4);

    img {
        max-width: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        opacity: 0.6;
        @include animation(fadein-images 1s ease-out backwards, image-pulse 15.0s ease-in-out infinite alternate);
        @include transform-origin(bottom center);
    }

    .section-image {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        @include animation(fadein-images 1s ease-out backwards, image-pulse 15.0s ease-in-out infinite alternate);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        display: none;
    }

    .featured-image &,
    .header-image & {
        max-height: 100vh;
        min-height: 50vh;
    }

    .featured-image & {
        @include respondTo(upto-narrow) {
            height: 50vh;
            img {
                display: none;
            }
            .section-image {
                display: block;
            }
        }
        @include respondTo(atleast-wide) {
            height: 95vh;
            img {
                display: none;
            }
            .section-image {
                display: block;
            }
        }
    }
}