.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: ms(-3) ms(0);
    z-index: 9999;
}

.admin-bar .site-header {
    top: 42px;
}

.site-branding {
    width: 70%;
    float: left;
    color: #fff;
    h1 {
        font-size: ms(0);
        letter-spacing: 0.1em;
        margin: 0 0 ms(-5);
        a {
            color: rgba(white,.9);
            text-decoration: none;
        }
    }
    h2 {
        font-family: $font__main;
        font-size: ms(-2);
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0.1em;
        margin: 0;
        color: rgba(white,.6);
    }
}