.site-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: ms(0) ms(0) ms(1);
    margin-bottom: ms(4);
    background: $color__background-header;

    .featured-image &,
    .header-image & {
        position: absolute;
        background: transparent;
        margin-bottom: 0;
    }  
}

.site-branding {
    position: relative;
    width: 30%;
    float: left;
    color: #fff;
    z-index: 9000;

    @include transition(all 0.5s ease-in-out);

    h1 {
        font-size: ms(-2);
        letter-spacing: ms(-10);
        margin: 0 0 ms(-4);
        a {
            color: $color__headerlink;
            text-decoration: none;
            &:hover {
                color: $color__headerlink-hover;
                //text-decoration: underline;
            }
        }
    }
    h2 {
        font-family: $font__main;
        font-size: ms(-2);
        font-weight: 400;
        font-style: italic;
        text-transform: none;
        letter-spacing: ms(-12);
        margin: 0;
        color: rgba(white,.6);
    }

    @include respondTo(upto-medium) {
        width: 80%;
        @include transition(all 0.5s ease-in-out);
    }

    .sidebar-toggled & {
        width: 100%;
        @include transition(all 0.5s ease-in-out);
    }
}