$ms-base: 1em 1.286em;
$ms-ratio: 1.5;

$font__main: "Roboto Slab", sans-serif;
$font__headings: "Montserrat", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-body: $ms-ratio;
$font__line-height-pre: ms(3);