.sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: auto;
    
    @include transform(translateX(100%));
    
    padding: ms(2);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 9000;
    
    background-color: $color__background-drawer;
    color: white;
    opacity: 0;

    //controls closing animation
    @include transition-property(transform, width, opacity);
    @include transition-duration(0.5s, 0.5s, 0.4s);
    @include transition-timing-function(ease-out, ease-in, ease-out);
    @include transition-delay(0.05s, 0.1s, 0.05s);

    @include respondTo(atleast-medium) {
        width: $size__site-sidebar;
        padding: ms(2) 0;
        background: rgba($color__background-drawer,.9);
    }

    .sidebar-inner {
        max-width: ms(16);
        margin: 0 auto;
        padding: 0;
        opacity: 0;

        //controls closing animation
        @include transition(opacity,0.4s,ease-out);
    }

    &::-webkit-scrollbar {
     display: none;
    }
    
    ul, ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: $color__link-sidebar;
        text-decoration: none;
        &:hover {
            color: $color__link-sidebar-hover;
        }
    }
}

.sidebar-toggled {
    .sidebar {
        @include transform(translateX(0%));
        width: 100%;
        opacity: 1;

        //controls opening animation
        @include transition-property(transform, opacity);
        @include transition-duration(0.25s, 0.30s);
        @include transition-timing-function(ease-out);

        @include respondTo(atleast-medium) {
            width: $size__site-sidebar;

            //controls opening animation for all media queries above medium
            @include transition-property(transform, width, opacity);
            @include transition-duration(0.30s);
            @include transition-timing-function(ease-out);
            @include transition-delay(0s, 0.15s, 0s);
        }
    }
    .sidebar-inner {
        opacity: 1;
        // //controls opening animation
        @include transition(opacity,0.5s,ease-out,1.2s);
    }
}


/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";