.widget {
	margin: 0;
    padding: ms(6);
    font-size: ms(-1);
    color: $color__text-sidebar;
    text-shadow: 0 1px 2px $color__text-shadow-sidebar;

	/* Make sure select elements fit in widgets. */
	select, input {
		max-width: 100%;
	}

    
    @include respondTo(upto-narrow) {
        padding: ms(2);
    }
}

/* Search widget. */
.widget_search {
    .search-field {
        width: 100%;
    }
    .search-submit {
	   display: none;
    }
}