.widget {
    color: $color__text-sidebar;

	margin: ms(6) 0;

    font-size: ms(-1);
    text-shadow: 0 1px 2px $color__text-shadow-sidebar;

    padding-bottom: ms(6);
    border-bottom: 4px solid $color__base-tint15;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}