.site-header .main-navigation {
	display: block;
	float: right;
	width: 50%;
	text-align: right;
	font-family: $font__headings;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: ms(-10);
	line-height: 1;

	@include clearfix();

	@include respondTo(upto-small) {
        width: 30%;
    }


    // Navigation Items

	a {  // All links inside navigation
		display: block;
		width: 100%;
		font-size: ms(-2);
	    letter-spacing: ms(-10);
        color: $color__headerlink;
        text-decoration: none;
        &:hover {
            color: $color__headerlink-hover;
        }
    }

	ul { // Parent list Globals
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: right;
		line-height: 0;

		li, a { // Globals
			line-height: 1;
			margin: 0;
			padding: 0;
		}

		> li {  // Parent Items
			line-height: 1;
			display: inline-block;
			position: relative;
	        padding: 0;
	        margin: 0 ms(-8);
	        a {
	        	padding: 0 0 ms(0) ms(-4);
	        }
		}

		> li > ul {  // Children list  (hidden by default)
			display: inline-block;
			text-align: left;
			position: absolute;
			top: -999em;
			left: 0;
			z-index: 99999;
			opacity: 0;
			padding: ms(-8) ms(-7);
			margin: 0;
			background: rgba($color__background-drawer,.8);

			li { // All items underneath
				margin: 0;
				a { // Children list links
					width: ms(14);
					padding: ms(-2) 0;
					color: rgba($color__headerlink,.8);
				}
			}			

			> li > ul {  // Children list
				padding: 0 0 0 ms(-2);
				background: transparent;
				a {
					color: rgba($color__headerlink,.6);
				}
			}
		}

		> li:hover > ul {
			top: auto;
			opacity: 1;
			> li ul {
				position: static;
				opacity: 1;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */

// .no-js .menu-toggle {
// 	display: none;
// }

.menu-toggle {
	display: none;
}

@media screen and (max-width: 501px) {
	.menu-toggle {
		display: block;
		@include clearfix();
	}

	.main-navigation ul.nav-menu {
		opacity: 0;
		@include transform(translateX(100%));

		position: absolute;
		top: 100px;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba($color__background-drawer,.95);
		@include clearfix();

		li {
			display: block;
			width: 100vw;
			text-align: left;
			padding: ms(0) ms(0);
			margin: 0 auto;
		}
	}

	.menu-toggle,
	.main-navigation.toggled ul.nav-menu {
		opacity: 1;
		@include transform(translateX(0));		
	}

	

	ul.nav-menu {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: gray;
	}

	.main-navigation .nav-menu {
		opacity: 0;
	}

	// Hamburger button
	.menu-toggle {
		box-shadow: 0 0 0 transparent;
		text-shadow: 0 0 0 transparent;
		border: 0 none;
		border-radius: 0;
		padding: 0;
		text-indent: -9999px;
		outline: 0;
		font-size: 1em;
		width: ms(0);

		background: transparent;
		border-top: 3px solid $color__headerlink;

		padding-bottom: ms(1);
		position: absolute;
		right: ms(0);
		top: ms(0);
		z-index: 9999;

		&:before, 
		&:after {
			content: " ";
			display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			line-height: 1;
			background: transparent;
			border-top: 3px solid $color__headerlink;
		}
		&:before {
			top: 6px;
		}
		&:after {
			top: 15px;
		}
		
		&:hover {
			background: transparent;
			box-shadow: 0 0 0 transparent;
			text-shadow: 0 0 0 transparent;
			border: 0 none;
			border-top: 3px solid $color__headerlink-hover;
			&:before,
			&:after {
				border-top-color: $color__headerlink-hover;
			}
		}
		&:active,
		&:visited,
		&:focus {
			border-color: transparent;
			border-top-color: $color__headerlink;
			box-shadow: 0 0 0 transparent;
			&:before,
			&:after {
				border-color: transparent;
				border-top-color: $color__headerlink;
			}
			&:hover {
				border-top-color: $color__headerlink-hover;
				&:before,
				&:after {
					border-top-color: $color__headerlink-hover;
				}
			}
		}
	}
}







.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}