.nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-header .header-navigation {
	position: absolute;
	display: block;
	right: 0;
	width: 70%;
	text-align: right;
	font-family: $font__headings;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: ms(-10);
	line-height: 1;
    opacity: 1;

	@include respondTo(upto-medium) {
        width: 20%;
    }


    // Navigation

	a {  // All links inside navigation
		display: block;
		width: 100%;
		font-size: ms(-2);
	    letter-spacing: ms(-10);
        color: $color__headernavlink;
        text-decoration: none;
        &:hover {
            color: $color__headernavlink-hover;
        }
    }

    .menu-header-container {
    	position: relative;
    	right: ms(6);
    	opacity: 1;
    	z-index: 200;

        @include transition-property(opacity);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in-out);

	    ul { // Parent list Globals
			list-style: none;
			margin: 0;
			padding-left: 0;
			text-align: right;
			line-height: 0;

			li, a { // Globals
				line-height: 1;
				margin: 0;
				padding: 0;
			}
			li > ul { // hide nested items
				display: none;
			}

			li {
				display: inline-block;
				position: relative;
		        padding: 0;
		        margin: 0 ms(-8);
		        a {
		        	padding: 0 0 ms(0) ms(-4);
		        }
			}
		}

		.sidebar-toggled & {
	    	opacity: 0;	    	
			//right: -50vw;
            @include transition-property(opacity);
            @include transition-duration(0.5s);
            @include transition-timing-function(ease-in-out);
	    }

		@include respondTo(upto-medium) {
	        display: none;
	    }
	}
}






// Navigation in sidebar drawer

.sidebar {
	.main-navigation {
        padding-bottom: ms(4);
        border-bottom: 4px solid $color__base-tint15;
        
		@include text-format(heading-small);

		h2 {
			display: none;
		}

        .sub-menu { 
            padding-left: ms(0);
            border-left: 4px solid $color__base-tint20;
            a {
            	font-size: ms(-2);
            	opacity: .5;
            	&:hover {
            		opacity: 1;
            	}
            }
        } 
        li {
            padding: 0;
        }
        a {
        	display: block;
        	padding: ms(0) 0;
        	font-size: ms(-1);
        }
    }

    .sidebar-toggled & {
    	.main-navigation a {
    	}
    }
}







.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
    & .nav-previous,
    & .nav-next {
        width: 50%;
        a {
            display: inline-block;
            text-decoration: none;
            @include text-format(heading-small);
        }
    }
	& .nav-previous {
		float: left;
	}
	& .nav-next {
		float: right;
		text-align: right;
	}
}






	// ul { // Parent list Globals
	// 	list-style: none;
	// 	margin: 0;
	// 	padding-left: 0;
	// 	text-align: right;
	// 	line-height: 0;

	// 	li, a { // Globals
	// 		line-height: 1;
	// 		margin: 0;
	// 		padding: 0;
	// 	}

	// 	> li {  // Parent Items
	// 		line-height: 1;
	// 		display: inline-block;
	// 		position: relative;
	//         padding: 0;
	//         margin: 0 ms(-8);
	//         a {
	//         	padding: 0 0 ms(0) ms(-4);
	//         }
	// 	}

	// 	> li > ul {  // Children list  (hidden by default)
	// 		display: inline-block;
	// 		text-align: left;
	// 		position: absolute;
	// 		top: -999em;
	// 		left: 0;
	// 		z-index: 99999;
	// 		opacity: 0;
	// 		padding: ms(-8) ms(-7);
	// 		margin: 0;
	// 		background: rgba($color__background-drawer,.8);

	// 		li { // All items underneath
	// 			margin: 0;
	// 			a { // Children list links
	// 				width: ms(14);
	// 				padding: ms(-2) 0;
	// 				color: rgba($color__headerlink,.8);
	// 			}
	// 		}			

	// 		> li > ul {  // Children list
	// 			padding: 0 0 0 ms(-2);
	// 			background: transparent;
	// 			a {
	// 				color: rgba($color__headerlink,.6);
	// 			}
	// 		}
	// 	}

	// 	> li:hover > ul {
	// 		top: auto;
	// 		opacity: 1;
	// 		> li ul {
	// 			position: static;
	// 			opacity: 1;
	// 		}
	// 	}
	// }

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a {
	// }