.comments-area {
    margin: 5.063em 0;
}


.comment-list {
    margin: 0 0 2.25em;
    padding: 0;
    list-style: none;
    @include clearfix();
}

.comment-list .children {
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-left: 4px solid $color__border-base;
}

.comment-list .children > li {
    padding-left: calc(32px + 0.8em);
}


// Comments
.comment-body {
    margin: ms(4) 0;
}

.comment-author .avatar {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 ms(-2) 0 0;
    border-radius: 100%;
}

.comment-metadata,
.pingback .edit-link {
    @include text-format(note);
    a {
        text-decoration: none;
        color: $color__asidelink;
        &:hover {
            color: $color__asidelink-hover;
        }
    }
}

.comment-metadata {
    margin-bottom: 1em;
}

.comment-metadata .edit-link,
.pingback .edit-link {
    margin-left: 1em;
}

.comment-list .reply a {
    @include text-format(note);
}

.comment-content {
    ul,
    ol {
        margin: 0 0 1.6em 1.3333em;
    }
    li > ul,
    li > ol {
        margin-bottom: 0;
    }

    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
    a {
        word-wrap: break-word;
    }
}

.bypostauthor {
    display: block;
}


// Comments FORM 

.comment-form {
    
}

.comment-reply-title small {
    @include text-format(note);
}

.comment-form label {
    display: block;
    
    @extend %heading-base;
    font-size: ms(-2);
    letter-spacing: ms(-12);
    color: $color__text-soft;

    padding: 0 0 ms(-4);
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
    width: 100%;
}

.form-submit {
    @include clearfix();
    width: 100%;
    input[type="submit"] {
        float: right;
    }
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
    font-size: ms(-2);
    letter-spacing: ms(-12);
    //text-transform: uppercase;
    //color: $color__text-soft;
}

.comment-form-comment {
    margin-bottom: 0;
}
.form-allowed-tags {
    margin-top: 0; 
    margin-bottom: ms(4);
}


.form-allowed-tags code {
    font-family: $font__code;
    //@extend %aside-text;
}

.form-submit {
    margin-bottom: 0;
}

.required {
    color: $color__accent;
}